  <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#unless user}}
            <li><a href="/auth/login">Login</a></li>
            {{/unless}}
            {{#if user}}
            <li><a href="/auth/logout">Logout</a></li>
            {{/if}}
        </ul>
    </nav>

<h1>Books</h1>

<ul>
    {{#each books}}
    <li><a href="/book-details/{{id}}">{{title}}</a>
        <button> <a href="/books/edit/{{id}}">Edit</a></button>
    </li>

    {{/each}}

</ul>
<a href="/books/add"> Add New Book!</a>

<a href="/auth/logout">Logout</a>
